<nav component="appmenu" more-text="more">
	<ul>
		<li brand><h4><a href="{{ site.baseurl }}/">jquery-components</a></h4></li>
		<li right><a href="https://github.com/olamedia/jquery-components">Github</a></li>
		<li component="popup">
			<a component="append-text" popup-trigger append-text=" ▾" href="{{ site.baseurl }}/docs/">Documentation</a>
			<ul popup-panel class="menu">
				<li><a href="{{ site.baseurl }}/docs/update.html">.update()</a></li>
			</ul>
		</li>
		<li><a href="{{ site.baseurl }}/demos/menu.html">Menu</a></li>
		<li><a href="{{ site.baseurl }}/demos/popup.html">Popup</a></li>
		<li><a href="{{ site.baseurl }}/demos/appmenu.html">Appmenu</a></li>
		<li><a href="{{ site.baseurl }}/demos/drawer.html">Drawer</a></li>
		<li><a href="{{ site.baseurl }}/demos/overlay.html">Overlay</a></li>
		<li><a href="{{ site.baseurl }}/demos/style.html">Style</a></li>
	</ul>
</nav>
