<nav component="appmenu" more-text="more">
	<ul>
		<li brand><h4><a href="{{ site.baseurl }}/">jquery-components</a></h4></li>
		<li right><a href="https://github.com/olamedia/jquery-components">Github</a></li>
		<li component="popup">
			<a component="append-text" popup-trigger append-text=" ▾" href="{{ site.baseurl }}/docs/">Documentation</a>
			<ul popup-panel class="menu">
				<li><a href="{{ site.baseurl }}/docs/instance.html">Component vs Class vs Instance</a></li>
				<li><a href="{{ site.baseurl }}/docs/component/component.html">component()</a></li>
				<li><a href="{{ site.baseurl }}/docs/component/update.html">component.update()</a></li>
				<li><a href="{{ site.baseurl }}/docs/component/replace.html">component.replace()</a></li>
				<li><a href="{{ site.baseurl }}/docs/instance/render.html">instance.render()</a></li>
				<li><a href="{{ site.baseurl }}/docs/instance/on.html">instance.on()</a></li>
				<li><a href="{{ site.baseurl }}/docs/instance/trigger.html">instance.trigger()</a></li>
			</ul>
		</li>
		<li><a href="{{ site.baseurl }}/demos/scrollbar.html">Scrollbar</a></li>
		<li><a href="{{ site.baseurl }}/demos/menu.html">Menu</a></li>
		<li><a href="{{ site.baseurl }}/demos/popup.html">Popup</a></li>
		<li><a href="{{ site.baseurl }}/demos/appmenu.html">Appmenu</a></li>
		<li><a href="{{ site.baseurl }}/demos/drawer.html">Drawer</a></li>
		<li><a href="{{ site.baseurl }}/demos/overlay.html">Overlay</a></li>
		<li><a href="{{ site.baseurl }}/demos/layer.html">Layer</a></li>
		<li><a href="{{ site.baseurl }}/demos/style.html">Style</a></li>
		<li><a href="{{ site.baseurl }}/demos/notify.html">Notify</a></li>
		<li><a href="{{ site.baseurl }}/demos/slider.html">Slider</a></li>
		<li><a href="{{ site.baseurl }}/demos/articleSlider.html">Article slider</a></li>
	</ul>
</nav>
