.menu, .menubar, .menu>li, .menubar>li{
	list-style: none;
	margin: 0;
	padding: 0;
	/*position: relative;*/
}
.menubar>li>a{
	display: inline-block;
	padding: 3px 10px;
	text-decoration: none;
	color: #333;
}
.menu>li>a{
	display: block;
	padding: 3px 20px;
	text-decoration: none;
	color: #333;
}
.menu>li>a:focus, .menubar>li>a:focus{
	/*border: dashed 1px #333;*/
	/*outline: thin dotted;*/
    outline: 1px auto #4a87ee;
    outline-offset: -2px;
}
.menu>li>a:hover {
	background-color: #e8e8e8;
	/*background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);*/
}
.menu-default .active a{
	background: #eee;
}
.menu-vertical{

}
/* menu + popup */
.menu.popup-column{
	padding: 0px 7px;
}
.menu.popup-column>li>a{
	padding: 3px 13px;
}
