.popup-component>[popup-panel]{
	padding-top: 5px;
	padding-bottom: 5px;
	background: #fff;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 2px;
	/*padding-left: 20px;*/
}
.popup-column{
	display: table-cell;
	padding-left: 10px;
	padding-right: 10px;
}
.popup-panel{
	/*padding-left: 20px;*/
}
.popup-body{
	/*padding-right: 20px;*/
}
.popup-separator, .menu>li.menu-separator{
	border-top: solid 1px #e8e8e8;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
}
.menu{
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.menu>li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-default{
}
.menu>li>a{
	display: block;
	padding: 3px 20px;
	text-decoration: none;
	color: #333;
}
.menu>li>a:focus, .menu>li>a:hover {
	background-color: #e8e8e8;
	/*background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);*/
}
.menu-default .active a{
	background: #eee;
}
.menu-vertical{

}
.menu.popup-column{
	padding: 0px 7px;
}
.menu.popup-column>li>a{
	padding: 3px 13px;
}
